<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles.css">
</head>

<body>

    <ul>
        <li>Home</li>
        <li>Home</li>
        <li>Home</li>
        <li>Home</li>
    </ul>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio fugiat, quibusdam nam corporis, consectetur
        incidunt aliquid alias delectus aspernatur veritatis nesciunt voluptates aliquam facere sint soluta error
        eveniet natus quaerat.
        Distinctio quod, recusandae vitae impedit consequuntur accusamus debitis est aut architecto consectetur corporis
        doloremque dolore. Veniam laboriosam molestias iure, eaque asperiores, libero reprehenderit alias laudantium
        rerum neque excepturi magnam? Unde.
        Assumenda eius voluptas rerum eligendi ipsam ipsa rem deserunt eveniet laborum, culpa ab necessitatibus esse,
        vel cupiditate, vitae iusto ea maiores excepturi dicta nam! Minima ab voluptate a molestiae quod!
        Voluptas ea omnis accusantium? Cum consectetur eligendi deleniti exercitationem quas distinctio explicabo ullam
        doloribus! Qui sint porro consequuntur in cupiditate. Quidem porro pariatur obcaecati quis, minima consequatur
        expedita saepe placeat.
        Inventore magni quas provident laudantium temporibus, aspernatur obcaecati recusandae saepe! Placeat corporis
        animi quisquam labore similique reprehenderit porro, molestias magni tempora odit voluptatem asperiores aliquam
        excepturi repudiandae suscipit nam quia!
        Unde fugiat corporis aspernatur praesentium? Dignissimos officia dolorem porro dolores, suscipit blanditiis
        ipsam reprehenderit velit? Quae facere cupiditate, minus exercitationem cumque reiciendis debitis. Libero, quia.
        Officia cupiditate quam dicta! Voluptas?
        Quis praesentium quaerat magnam nesciunt iusto possimus modi consequatur officiis, eos at nemo. Enim aliquam
        earum animi. Accusantium blanditiis cum id officia. At tempora dolores nemo voluptas cumque provident facilis?
        Ut voluptatum deleniti itaque nobis hic minima ea unde? A ducimus minus aspernatur, quibusdam minima doloremque
        fugit eligendi voluptas quod consequatur reiciendis eaque ullam laborum maxime cumque, porro quam quasi?
        Dolorem veritatis voluptatum earum rerum sit veniam perferendis quo hic provident ducimus cupiditate ex qui
        assumenda magnam architecto consequuntur minus, unde obcaecati eligendi, culpa esse nostrum asperiores! Nihil,
        sint asperiores?
        Itaque eligendi ex ut, sint accusantium illo. Cumque a ratione accusantium saepe hic ab fuga voluptatibus.
        Explicabo, laudantium nihil amet, temporibus assumenda repellat optio iste, magnam excepturi velit magni
        tenetur!
        Excepturi ea nisi veniam labore eligendi molestias ex deleniti magnam culpa laboriosam, maiores recusandae dicta
        harum rem quos voluptatibus. In dicta asperiores beatae consequuntur cumque quod quaerat, illum quae vel.
        Molestiae aliquid minima sunt adipisci optio at, voluptas quae quam fuga ut nam quidem aperiam ipsa. Consequatur
        impedit eum quaerat, maiores perspiciatis placeat vitae fuga itaque harum nisi. Inventore, consequatur.
        Tempore fugiat doloremque esse, nisi suscipit asperiores expedita quasi dolore, possimus obcaecati nostrum
        aliquam quo eum aperiam alias est? Accusantium odit voluptas molestiae, nulla autem sit voluptate obcaecati ex
        consequuntur.
        Qui laborum suscipit, sed quia facilis dolorum iusto aspernatur ipsam dolores, molestiae, iste voluptas illum
        omnis eius sit quae aut cum accusamus aliquid minima quisquam sapiente! Et dignissimos cum suscipit?
        Optio, unde fuga. Cum quo inventore illum, quia officiis explicabo qui dolores, et provident non natus
        reiciendis facilis labore, ab voluptatibus aspernatur ea repudiandae ratione dolore? Deserunt quia ex saepe!
        At eos dolorem labore quod aliquam magni quas libero laboriosam earum minima beatae, nulla officiis eius
        voluptate, minus non ipsa voluptatibus incidunt placeat quibusdam facilis, assumenda provident. Pariatur,
        architecto dolore!
        Sunt ullam quaerat sint minima. Odit laborum quod sit odio natus, asperiores, eligendi commodi fugiat cum, nam
        libero ea animi! Distinctio et ipsa impedit ad labore eveniet illo nobis optio?
        Optio illum aspernatur rem omnis vel consectetur commodi molestiae? Corrupti ullam tempora animi sunt unde
        deserunt nisi ex! Nisi ratione assumenda alias quasi! Animi, vero corrupti ipsa iusto ad neque.
        Perspiciatis alias omnis fuga ratione illum dolores nisi deleniti? Quo, voluptate amet! Aliquam exercitationem
        reprehenderit porro aliquid tempore quisquam beatae nisi iste numquam totam, aperiam amet dolore natus
        voluptatem? Molestias!
        Facilis officia eveniet iste vitae perspiciatis neque distinctio recusandae, sunt debitis dolores quos. Magni
        aut eos eaque, consectetur natus esse tempora necessitatibus animi corporis eius cupiditate? Ratione totam fugit
        omnis.
        Sit fugit dolorem ullam excepturi velit quisquam dolor nihil odio debitis incidunt. Laborum reprehenderit
        deleniti aut ipsa illo aliquid unde sapiente minima fugiat, sunt mollitia temporibus? Sequi numquam deserunt
        quod!
        Quis culpa deserunt aut eius voluptas. Dolorum ea culpa saepe hic aliquam quaerat quae quod, beatae sit ex totam
        iusto facilis mollitia exercitationem eveniet amet numquam quasi maiores excepturi odio!
        Vero dicta esse nostrum fugit magnam ut eius, nisi id maxime soluta laborum dignissimos inventore placeat minus
        voluptatem. Nemo, earum. Quas cumque unde dolores. Est culpa incidunt corrupti aliquid quis!
        Quos atque ex sapiente, ratione ut, vel reiciendis commodi animi, deleniti sit quidem suscipit cum asperiores
        repellat dolores? Totam facilis asperiores doloribus neque deleniti mollitia, id non laboriosam dicta incidunt!
        Vel sapiente minus tempore eaque, cum libero iure perspiciatis temporibus reiciendis dolorum! In ut unde impedit
        alias modi vel magnam provident non commodi fuga dolores, nam, placeat odio omnis sapiente?
        Iure dolorum inventore, ab ex fugit qui rerum dolores nemo exercitationem earum doloribus pariatur explicabo
        voluptates maxime minima ullam. Maxime dolorum perspiciatis nobis? Perspiciatis enim fuga libero, veritatis
        repudiandae at!
        Facere praesentium, deserunt eius nulla quaerat officiis ea excepturi minus molestias expedita magni vitae
        dolorum distinctio nobis quas inventore quia eum sit possimus suscipit. Dolore blanditiis sed minus architecto
        dolorum!
        Molestiae cupiditate consectetur nostrum beatae dolorem consequuntur repellendus nam accusamus necessitatibus
        libero officiis inventore eligendi minima sequi totam ad eveniet consequatur autem dignissimos tempore est,
        ipsam voluptate deserunt. Aliquam, laborum.
        Iure molestiae eligendi veritatis facere neque, totam dolorum dicta dignissimos eos molestias nemo eum
        distinctio labore inventore quo aliquam illum! Cum reprehenderit et, debitis quam quia impedit aliquid voluptate
        fugit?
        Rerum dolore id nemo repellat aut in veniam quae, dignissimos maiores beatae eaque commodi, doloremque dolorem.
        Corrupti repellendus quam voluptate? Eos modi fugiat rerum at aut sit doloremque perspiciatis iusto.
        Aut amet eaque, consequuntur assumenda eius esse quod nulla aspernatur dolor? Ab molestias, accusantium sapiente
        dolores asperiores voluptates, tempore quaerat sint molestiae adipisci perferendis. Architecto deserunt
        inventore corrupti perferendis rem?
        Praesentium sed rem exercitationem? Expedita, porro. Voluptas natus voluptatibus quam assumenda blanditiis
        molestiae dolor quas quia ad labore corrupti, similique alias necessitatibus saepe aperiam temporibus! Beatae
        maxime tempore nulla libero.
        A ad quia aperiam voluptates quod tenetur repellat nihil et voluptas. Mollitia quo magnam quasi sint, libero
        esse voluptatem autem pariatur aliquam tempore expedita voluptatum ea ex commodi. Ipsam, neque?
        Hic voluptates quasi porro neque nostrum ad officia! Sequi eos culpa odit beatae repudiandae deserunt dicta
        accusamus reprehenderit qui veritatis, possimus quidem inventore ipsum repellat amet ex. Deserunt, illo totam.
        Cupiditate labore dicta aliquid veniam corrupti cum modi ipsum mollitia explicabo quos! Repellat quo molestias
        nesciunt provident temporibus excepturi delectus? Soluta, ipsam voluptas dolores possimus vero illo odio? Ea,
        nihil?
        Maxime quo omnis suscipit laudantium illo similique pariatur ipsa ad enim consequuntur, autem porro saepe
        inventore nulla numquam asperiores, dolores rem. Praesentium excepturi, possimus impedit quos nisi fugit facilis
        optio.
        Quae adipisci recusandae consectetur esse natus odio sint omnis numquam, autem harum quibusdam alias quam
        maiores labore fugiat cupiditate! Ipsam expedita quae nostrum consequatur neque aliquid quos architecto eveniet
        sapiente?
        Modi temporibus architecto facilis explicabo maxime reiciendis animi recusandae, expedita, doloribus minus
        dolore labore nisi excepturi at corporis, quae impedit fuga perferendis esse odit ducimus? Ea voluptas
        consectetur numquam adipisci.
        Reprehenderit pariatur impedit incidunt nisi, mollitia ipsam quae rem. Eos tempore soluta ipsam possimus itaque
        accusamus cum dolor nesciunt ea modi, molestiae sit cupiditate ducimus asperiores nostrum architecto corrupti
        recusandae.
        Odio sequi quaerat quis dignissimos facilis, iste mollitia, deleniti unde consectetur hic quidem porro tenetur
        asperiores voluptatum voluptatibus fugit. Assumenda id sapiente tenetur at perspiciatis placeat commodi, quaerat
        illo eaque.
        Vero dicta, sint earum quod, unde ab ipsam blanditiis omnis nisi excepturi soluta modi consequuntur optio
        laboriosam, assumenda amet ex voluptates molestias. Ullam rem sequi sint quia? Obcaecati, rerum ea!
        Doloremque amet suscipit quod accusantium dicta sed aperiam harum. Doloremque odit voluptatem optio laudantium
        iure? Consectetur natus in ipsa? Nisi alias commodi odio dignissimos inventore dolore perspiciatis ex cumque
        eos.
        Eligendi veniam autem aliquam qui reprehenderit asperiores debitis illum? Et ipsum sunt dignissimos provident
        eligendi quis omnis eius? Voluptatibus recusandae esse optio dicta sit eius explicabo, nisi eligendi sapiente
        et!
        Distinctio at placeat ea eaque. Earum amet delectus voluptates, at, provident eveniet cum, magni minus debitis
        eum distinctio sint recusandae laborum aspernatur quae mollitia eius autem tempora consequatur veniam incidunt.
        Quod a libero pariatur quis minima quibusdam possimus eaque, id quae, voluptatem nostrum at ipsa error explicabo
        ab. Ullam ut unde fugit accusamus pariatur ipsum incidunt placeat sapiente labore minus.
        Consequuntur fugit et possimus, numquam quasi similique enim eligendi mollitia iusto incidunt quidem provident
        earum facilis cupiditate esse minus. Maiores dolore blanditiis doloribus quod, officiis dolores consectetur
        voluptates deserunt vitae!
        Nesciunt, maiores. Sunt minima inventore, voluptates harum blanditiis cupiditate excepturi saepe ea assumenda
        commodi dolor fuga amet quas quisquam ratione nihil cum omnis temporibus similique porro! Ratione dicta corporis
        eos?
        Magni labore earum exercitationem quisquam consequatur voluptas veniam possimus esse quae dolor. Consequatur
        iste repellat necessitatibus esse, fugiat corrupti quidem! Ut facilis assumenda accusamus? Velit quae similique
        dolore vel ipsa?
        Natus magnam molestiae, vitae illo delectus deleniti id voluptatum distinctio atque nam in sed placeat aperiam
        possimus pariatur quaerat nemo ipsum reprehenderit a tempore consequatur impedit, at suscipit error. Quos.
        Accusamus perferendis aliquam aut nam ullam corporis cupiditate, vitae nesciunt sequi, vel aperiam mollitia
        saepe. Odit quo mollitia error aliquam, nesciunt quis non, ducimus fugiat, a delectus dolorum nulla unde.</p>
    <!-- <div class="black">

    </div>

    <div class="white">

    </div>

    <div class="black">

    </div>

    <div class="white">

    </div>
    <div class="black">

    </div>

    <div class="white">

    </div>
    <div class="black">

    </div>

    <div class="white">

    </div>

    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKG7Wnu1B4ypDMo50w2ggmjcNF6VfvWmOVEj1TjC_U-RK9Kj-skY-PxF65ea4xmxQ1rCc&usqp=CAU"
        width="100px" height="100px" alt=""> -->
</body>

</html>