.fb-post {
  width: 50%;
  margin: auto;
  /* border: 1px solid brown; */
  background-color: #ffffff;
}

/* Header styles */

.fb-post-header {
  display: flex;
  flex-direction: row;
}

.header-img {
  display: flex;
  justify-content: center;
  align-items: normal;
  margin-right: 10px;
}

.header-title {
  display: flex;
  flex-direction: column;
  align-items: start;
  line-height: 1px;
}

.title-text {
  color: cornflowerblue;
  font-weight: 700;
}

.title-with-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
}

.title-with-img-text {
  font-family: sans-serif;
  font-weight: 400;
  color: darkgrey;
}

/* Description Styles */

.fb-post-description p {
  text-align: start;
  margin-left: 16px;
  font-style: normal;
  font-family: auto;
  word-spacing: 2px;
  font-size: 20px;
  color: darkslategray;
  font-weight: 500;
}

.App-logo {
  width: 50px;
  height: 50px;
}
