body {
  background-color: #eeeeec;
}

.maincontainer {
  /* border: 1px solid black !important; */
  /* height: 100px !important; */
}

.profile-main {
  background-color: #fdfeff;
  margin: auto;
  width: 80%;
  /* border: 1px solid red; */
  margin-top: 70px;
  margin: 30px auto;

  /* height: 80%; */

  /* box-shadow: 10px 10px 10px rgb(233, 229, 222); */
}

.header {
  /* border: 1px solid blue; */
}

.button-col {
  display: flex;
  justify-content: center;
  align-items: center;
}
.connect-btn {
  background-color: #11cdef !important;
  border: none;
}

.message-btn {
  background-color: #172b4d !important;
  border: none;
}

.img_div {
  height: 100px;
  width: 100px;
  background-color: #172b4d;
  border-radius: 100%;
  margin: 0 auto;
  margin-top: -38px;
  background-image: url(./images/person.jpg);
  background-size: cover;
}

/* Description */

.description {
  /* border: 1px solid saddlebrown; */
  margin-top: 32px;
}

.number_count {
  font-size: 1.1rem;
  font-weight: bold;
  color: #525f7f;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}

.number_count_text {
  font-size: 0.875rem;
  color: #adb5bd;
}

/* Bio Section */

.bio-section {
  margin-top: 32px;
}

.user-name {
  font-size: 1.0625rem;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 0.5rem;
  color: #32325d;
}

.user-age {
  font-weight: 300 !important;
}

.user-address {
  font-weight: 300 !important;
}

.user-info {
  font-family: inherit;
  font-weight: 600 !important;
  line-height: 1.5;
  margin-bottom: 0.5rem;
  color: #32325d;
  font-size: 0.8125rem;
}

.user-detail {
  color: #525f7f;
}

/* Footer */
.footer-para {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.7;
  color: #525f7f;
}

.footer-link {
  text-decoration: none;
  color: #5e72e4;
  background-color: transparent;
}

@media screen and (max-width: 575px) and (min-width: 300px) {
  .connect-btn {
    font-size: 8px;
  }

  .message-btn {
    font-size: 8px;
  }

  .profile-main {
    width: 100%;
  }
}
