body {
  background-color: #8758ff !important;
}

.navbar-main {
  background-color: #232d48 !important;
}

.navbar-heading {
  color: rgb(255, 255, 255) !important;
  font-weight: bolder;
  font-family: cursive;
}

.navbar-toggler {
  background-color: #ef296b !important;
}

.navbar-nav {
  /* margin-top: 24px !important; */
}

.nav-item {
  /* margin-bottom: 8px !important; */
}

.nav-link {
  text-align: center !important;
}

.logout-btn {
  border: none !important;
  border-radius: 10px !important;
  color: white !important;
  background-color: #ef296b !important;
  padding: 8px 16px !important;
  /* margin-right: 10px !important; */
}

.login-btn {
  border: 1px solid white !important;
  border-radius: 10px !important;
  color: white !important;
  background-color: #ffffff00 !important;
  /* margin-right: 10px !important; */
}

.welcome-username {
  color: white;
}

.todolist-container {
  width: 60%;
  margin: auto;
  background-color: #1a1a40;
  margin-top: 48px;
  height: 200px;
  border-radius: 20px;
  /* height: 100vh; */
}

.todo-col {
  border: 1px solid wheat;
}

.addtask-btn {
  background-color: #8758ff !important;
  color: white !important;
}
