
h1{
    color: rgb(rgb(7, 9, 99));
    text-shadow: 0 0 5px blue ;
}

h1::first-letter{
    font-size: 40px;
}

h2{
    color: blue;
}

.credits{
    text-transform: uppercase;
    color: blue;
    opacity: 0.80;
}

.intro{
    font-size: 20px;
    font-weight: bold;
}

.intro .briard{
color: blue;
}

.history{
    text-align: left;
}

.history::first-letter{
    font-size: 100px;
}

.ref{
    font-style: italic;
    text-align: right;
}
