body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

.navbar {
  top: 0;
  position: sticky;
  box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
.nav-item {
  margin: 0 5px 0 5px;
}

.nav-item a {
  color: #4154f1;
  align-items: center;
  justify-content: space-between;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
  transition: 1s;
}

.nav-item > .nav-link:hover {
  color: #4154f1;
  border-bottom: 1px solid #4154f1;
  transition: 1s;
}

/* hero section */

.hero-section {
  width: 100%;
  height: 100vh;
  background: url(./assets/img/hero-bg.png) top center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.hero-section h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  color: #012970;
  font-family: "Nunito", sans-serif;
}

.hero-section h2 {
  color: #444444;
  margin: 15px 0 0 0;
  font-family: "Nunito", sans-serif;
}

.contact-us-btn {
  margin-top: 30px;
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #4154f1;
  box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);

  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

/* About Section */

.about-section {
  padding: 40px;
}
.content-column {
  background-color: #f6f9ff;
}
.content-section {
  padding: 20px;
}

.content-section h3 {
  font-size: 14px;
  font-weight: 700;
  color: #4154f1;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
}

.content-section h2 {
  font-size: 24px;
  font-weight: 700;
  color: #012970;
  font-family: "Nunito", sans-serif;
}

.content-section p {
  margin: 15px 0 30px 0;
  line-height: 24px;
}

.image-section {
}

/* Services section */
.heading-section {
  text-align: center;
  padding: 60px 0;
}

.heading-section h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: #4154f1;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
}

.heading-section p {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  color: #012970;
}

.service-box {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  height: 100%;
  padding: 60px 30px;
  text-align: center;
  transition: 0.3s;
  border-radius: 5px;
}

.service-box .icon {
  font-size: 36px;
  padding: 40px 20px;
  border-radius: 4px;
  position: relative;
  margin-bottom: 25px;
  display: inline-block;
  line-height: 0;
  transition: 0.3s;
  border-radius: 20px;
}

.service-box h3 {
  color: #444444;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
}

.service-box p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.service-box.blue .icon {
  color: #2db6fa;
  background: #dbf3fe;
}

.service-box.blue {
  border-bottom: 3px solid #2db6fa;
}

.service-box.orange .icon {
  color: #f68c09;
  background: #fde3c4;
}

.service-box.orange {
  border-bottom: 3px solid #f68c09;
}

.service-box.green .icon {
  color: #08da4e;
  background: #cffddf;
}

.service-box.green {
  border-bottom: 3px solid #08da4e;
}

.service-box.red .icon {
  color: #e9222c;
  background: #fef7f8;
}

.service-box.red {
  border-bottom: 3px solid #e9222c;
}

.service-box.purple .icon {
  color: #b50edf;
  background: #f8e4fd;
}

.service-box.purple {
  border-bottom: 3px solid #b50edf;
}

.service-box.pink .icon {
  color: #f51f9c;
  background: #feecf7;
}

.service-box.pink {
  border-bottom: 3px solid #f51f9c;
}

/* Core Values */
.core-values {
  padding: 60px 0;
}

.core-values .header-section {
  text-align: center;
  padding-bottom: 40px;
}

.core-values .header-section h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: #4154f1;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
}

.core-values .header-section p {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  color: #012970;
}

.feature-box-parent {
  margin-top: 10px;
}

.feature-box {
  display: flex;
  align-items: center;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  padding: 11px 10px;
  border-radius: 10px;
}

.feature-box h3 {
  font-size: 18px;
  color: #012970;
  font-weight: 700;
  margin: 0;
}

.feature-box i {
  line-height: 0;
  background: #ecf3ff;
  padding: 4px;
  margin-right: 10px;
  font-size: 24px;
  border-radius: 3px;
  transition: 0.3s;
}
